
#main-content
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
    #main-content .article,
    #main-content .title-image{
       text-align: left;
        font-family: Arial, Helvetica, sans-serif;
    }
    #main-content .title-image img{
        width: 100%;
    }
    
.lines{
    width: 900px;
    background:white;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
   
}    
.article{
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
}
.color
{
font-size: 15px;
color: #545454;
text-align: justify;
}
.beginning{
font-style: italic;
font-family: Georgia, 'Times New Roman', Times, serif
}
.beginning button{
    width: 80px;
    height: 30px;
    color: black;
    transition: all .2s;
}
#beginning .beginning-button:hover{
    background-color: transparent;
    border: 1px solid white;
}

#navbar {
  display: flex;
  contain: center;
  align-items: center;
  width: 100%;
  line-height: 100%;
  border-bottom: 1px solid #D1D1D1;
}
.menu-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 50px;
    width: 10rem;
 
}
.menu{
    width: 50px;
   
}
#title img{
    width: 200px;
    
}
#title {
    width:700px;
    justify-content: center;
   
    display: flex;
}
.buscar {
    width: 50px;
    
}

.texto {
    width: 300px;
    font-weight: bold;
   
}
#buttons{
    width: 500px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}
#buttons button{
    border: 0;
    padding: .5rem 1rem;
    border-radius: .3rem;
    color: white;
    background-color: #567b95;
    border: 1px solid #326891;
    margin-left: 20px;
    cursor: pointer;

}
.line{
    width: 100%;
    height: 1px;
    background:#ccc;
}

.title-article{
    margin: 2rem auto;
    width: 450px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
   }

#social-media{
    margin: 1rem auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
    #social-media .social-button{
        border: 0;
        cursor: pointer;
        background-color: lightgray;
        background-size: 1.5rem auto;
        transition: all .2s;
    }
    #social-media .social-button:hover{
        background-color: transparent;
        border: 1px solid lightgray;
    }

.Facebook{
    background: #ccc;
    background-image: url(facebook.png);
    background-size: 2rem auto;
    background-position: center;  
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    outline: none;
    
}

.Whatsapp {
    background: #ccc;
    background-image: url(whatsapp.png);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
}

.Twitter {
    background: #ccc;
    background-image: url(twitter.png);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
}

.Email{
    background-image: url(email.png);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
}

.Share{
    background-image: url(share.png);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
}

#social-media .Guardar{
    background-image: url(guardar.png);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    background-color: transparent;

}

#social-media .Comentarios{
    background-image: url(comentarios.png);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;
    border-image-width: 50%;
    width: 30px;
    height: 30px;
    outline: none;
    background-color: transparent;
}
.columns img{
    max-width: 100%;   
}
.columns{
    box-sizing: border-box;
    color: #444;
    float:right;
    padding: 1em;
  
    width: 25%;
    
}
.universe{
    display: flex;
    flex-wrap: wrap;
}
.video{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: left;
}
.coloor{
font-size: 10px;
color: #545454;
text-align: left;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
footer{
    font-size: .8rem;
}
.basic{
    font-size: 1.5rem;
}